@media only screen and (min-width:240px ) {
	html, body{
		font-size: 12px !important;
	}
}
@media only screen and (min-width:280px ) {
	html, body{
		font-size: 14px !important;
	}
}
@media only screen and (min-width:320px ) {
	html, body{
		font-size: 16px !important;
	}
}
@media only screen and (min-width:360px ) {
	html, body{
		font-size: 18px !important;
	}
}
@media only screen and (min-width:400px ) {
	html, body{
		font-size: 20px !important;
	}
}
@media only screen and (min-width:440px ) {
	html, body{
		font-size: 22px !important;
	}
}
@media only screen and (min-width:480px ) {
	html, body{
		font-size: 24px !important;
	}
}
@media only screen and (min-width:520px ) {
	html, body{
		font-size: 26px !important;
	}
}
@media only screen and (min-width:560px ) {
	html, body{
		font-size: 28px !important;
	}
}
@media only screen and (min-width:600px ) {
	html, body{
		font-size: 30px !important;
	}
}
@media only screen and (min-width:640px ) {
	html, body{
		font-size: 32px !important;
	}
}
@media only screen and (min-width:680px ) {
	html, body{
		font-size: 34px !important;
	}
}
@media only screen and (min-width:720px ) {
	html, body{
		font-size: 36px !important;
	}
}
@media only screen and (min-width:760px ) {
	html, body{
		font-size: 38px !important;
	}
}
@media only screen and (min-width:800px ) {
	html, body{
		font-size: 40px !important;
	}
}
@media only screen and (min-width:840px ) {
	html, body{
		font-size: 42px !important;
	}
}
@media only screen and (min-width:880px ) {
	html, body{
		font-size: 44px !important;
	}
}
@media only screen and (min-width:920px ) {
	html, body{
		font-size: 46px !important;
	}
}
@media only screen and (min-width:960px ) {
	html, body{
		font-size: 48px !important;
	}
}
@media only screen and (min-width:1000px ) {
	html, body{
		font-size: 50px !important;
	}
}
@media only screen and (min-width:1040px ) {
	html, body{
		font-size: 52px !important;
	}
}
@media only screen and (min-width:1080px ) {
	html, body{
		font-size: 54px !important;
	}
}
@media only screen and (min-width:1120px ) {
	html, body{
		font-size: 56px !important;
	}
}
@media only screen and (min-width:1160px ) {
	html, body{
		font-size: 58px !important;
	}
}
@media only screen and (min-width:1200px ) {
	html, body{
		font-size: 60px !important;
	}
}
@media only screen and (min-width:1240px ) {
	html, body{
		font-size: 62px !important;
	}
}
@media only screen and (min-width:1280px ) {
	html, body{
		font-size: 64px !important;
	}
}
@media only screen and (min-width:1320px ) {
	html, body{
		font-size: 66px !important;
	}
}
@media only screen and (min-width:1360px ) {
	html, body{
		font-size: 68px !important;
	}
}
@media only screen and (min-width:1400px ) {
	html, body{
		font-size: 70px !important;
	}
}
@media only screen and (min-width:1440px ) {
	html, body{
		font-size: 72px !important;
	}
}
@media only screen and (min-width:1480px ) {
	html, body{
		font-size: 74px !important;
	}
}
@media only screen and (min-width:1520px ) {
	html, body{
		font-size: 76px !important;
	}
}
@media only screen and (min-width:1560px ) {
	html, body{
		font-size: 78px !important;
	}
}
@media only screen and (min-width:1600px ) {
	html, body{
		font-size: 80px !important;
	}
}
@media only screen and (min-width:1640px ) {
	html, body{
		font-size: 82px !important;
	}
}
@media only screen and (min-width:1680px ) {
	html, body{
		font-size: 84px !important;
	}
}
@media only screen and (min-width:1720px ) {
	html, body{
		font-size: 86px !important;
	}
}
@media only screen and (min-width:1760px ) {
	html, body{
		font-size: 88px !important;
	}
}
@media only screen and (min-width:1800px ) {
	html, body{
		font-size: 90px !important;
	}
}
@media only screen and (min-width:1840px ) {
	html, body{
		font-size: 92px !important;
	}
}
@media only screen and (min-width:1880px ) {
	html, body{
		font-size: 94px !important;
	}
}
@media only screen and (min-width:1920px ) {
	html, body{
		font-size: 96px !important;
	}
}
@media only screen and (min-width:1960px ) {
	html, body{
		font-size: 98px !important;
	}
}
@media only screen and (min-width:2000px ) {
	html, body{
		font-size: 100px !important;
	}
}