html,body{
	height:100%;
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
}
section{
	height: 100%;
	width:100%;
	text-align: center;
	background: #fff url("../images/home_advertising.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
button{
	width: 8rem;
	height: 2.13rem;
	border: 1px solid #fff;
	border-radius: .2rem;
	margin-top: 33.5rem;
	background-color: transparent;
	color: #fff;
}